<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="col-xs-2 text-left snap-toggle-parent">
            <button type="button" class="btn navbar-btn snap-toggle navbar-snap-toggle" data-snap-toggle="left" title="Open left menu options" value="Left menu button" tabindex="10" accesskey="a">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <h1 class="col-xs-8 text-center navbar-brand" role="heading" id="title">{{global.title}}</h1>
    </div>
</nav>